Task 1

In [27]:
USE Homeworks
CREATE TABLE students(
    id INT,
    name VARCHAR(50),
    age  INT
);

In [28]:
ALTER TABLE students ALTER COLUMN id INT NOT NULL;

Task 2

In [29]:
CREATE TABLE product(
    product_id INT UNIQUE,
    product_name VARCHAR(255),
    price DECIMAL
);

In [30]:
ALTER TABLE product DROP CONSTRAINT UQ__product__47027DF4A19B121F;

: Msg 3728, Level 16, State 1, Line 1
'UQ__product__47027DF4A19B121F' is not a constraint.

: Msg 3727, Level 16, State 0, Line 1
Could not drop constraint. See previous errors.

In [6]:
ALTER TABLE product ADD UNIQUE(product_id, product_name)

Task 3

In [31]:
CREATE TABLE orders(
    order_id INT PRIMARY KEY,
    customer_name VARCHAR(50),
    order_date DATE
)

In [34]:
ALTER TABLE orders DROP CONSTRAINT PK__orders__46596229A6F5DB97 WITH (ONLINE = OFF);

In [35]:
ALTER TABLE orders ADD PRIMARY KEY(order_id)

Task 4

In [36]:
CREATE TABLE category(
    category_id INT PRIMARY KEY, 
    category_name VARCHAR(50)
);

CREATE TABLE item(
    item_ID INT PRIMARY KEY,
    item_name VARCHAR(255), 
    category_id INT FOREIGN KEY REFERENCES category(category_id)
);

In [37]:
ALTER TABLE item DROP CONSTRAINT FK__item__category_i__4F7CD00D;
ALTER TABLE item WITH CHECK ADD FOREIGN KEY(category_id) REFERENCES category(category_id)

Task 5

In [47]:
drop table if exists account;
CREATE TABLE account(
    account_id INT PRIMARY KEY, 
    balance DECIMAL CHECK(BALANCE >= 0 ),
    account_type VARCHAR(25) CHECK(account_type in ('Saving' , 'Checking'))
);

In [48]:
ALTER TABLE account DROP CONSTRAINT CK__account__account__59063A47;
ALTER TABLE account DROP CONSTRAINT CK__account__balance__5812160E;

In [49]:
ALTER TABLE account ADD CONSTRAINT CK_balance CHECK(balance >= 0)
ALTER TABLE account ADD CONSTRAINT CK_type CHECK(account_type in ('Saving', 'Checking'));

Task 6

In [50]:
CREATE TABLE customer(
    customer_id INT PRIMARY KEY, 
    name VARCHAR(50),
    city VARCHAR(255) DEFAULT 'Unknown'
)

In [51]:
ALTER TABLE customer DROP CONSTRAINT df__CUSTOMER__CITY__5DCAEF64;

In [55]:
ALTER TABLE customer ADD CONSTRAINT DF_city DEFAULT 'Unknown' for city;

Task 7

In [56]:
CREATE TABLE invoice(
    invoice_id INT PRIMARY KEY IDENTITY,
    amount DECIMAL
)

In [62]:
INSERT INTO invoice (amount) VALUES (100.50);
INSERT INTO invoice (amount) VALUES (200.00);
INSERT INTO invoice (amount) VALUES (150.75);
INSERT INTO invoice (amount) VALUES (180.20);
INSERT INTO invoice (amount) VALUES (300.00);

In [69]:
SET IDENTITY_INSERT INVOICE ON
INSERT INTO invoice(invoice_id, amount) values(
    104, 12342
)
SET IDENTITY_INSERT invoice OFF

task 8

In [80]:
drop table if exists books

create table books(
    book_id INT PRIMARY KEY IDENTITY,
    title VARCHAR(255) NOT NULL CHECK(title <> ''), 
    price DECIMAL(10, 2) CHECK(price > 0),
    genre VARCHAR(255) DEFAULT 'Unknown'
)